<app-swapi-list header="Films" [featureDetails]="filmFeatureDetails">
    <app-grid placeholder>
        @for (item of [1,2,3]; track item) {
            <app-grid-column>
                <app-film-card-placeholder />
            </app-grid-column>
        }
    </app-grid>
    <app-grid list>
        @if (films$ | async; as films) {
            @for (film of films; track film.id) { 
                <app-grid-column>
                    @defer (on viewport; when !(isPending$ | async)) {
                        @if (isPending$ | async) {
                            <app-film-card-placeholder />
                        } @else {
                            <app-film [film]="film" />
                        }
                    } @placeholder {
                        <app-film-card-placeholder />
                    }
                </app-grid-column>
            }
        }
    </app-grid>
</app-swapi-list>