<mat-card *ngIf="planet">
  <mat-card-header>
    <mat-card-title>{{ planet.name }}</mat-card-title>
    <mat-card-subtitle>Gravity: {{ planet.gravity }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>Climate:</strong>
      {{ planet.climate }}
    </p>
    <p *ngIf="planet.population !== null">
      <strong>Population:</strong>
      {{ planet.population | number }}
    </p>
    <p *ngIf="planet.orbitalPeriod !== null">
      <strong>Orbital Period:</strong>
      {{ planet.orbitalPeriod }}
    </p>
    <p *ngIf="planet.rotationPeriod !== null">
      <strong>Rotation Period:</strong>
      {{ planet.rotationPeriod }}
    </p>
  </mat-card-content>
</mat-card>
